*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: rgba(3, 5, 24, 0.781);
    box-sizing: border-box;
}

#support{
    text-align: center;
    color: red;
    display: none;
}

.body{
    margin: 15px;
}



/* Admin Page */

.div_header_admin{
    background-color: white;
}
                                                                    
.a_menu_admin{
    display: inline-block;
    color: black;
    padding: 15px;
    cursor: pointer;
    font-size: large;
}         

.a_menu_admin:hover{
    background-color:  rgba(3, 5, 24, 0.781);
    color: white;
}

/* safhe asli */

.h1_aks_asli{
    color: white;
}

.input_name_admin{
    width: 250px;
    outline: none;
    border: none;
    font-size: large;
    border-radius: 10px;
    padding: 5px;
}

.submit_admin{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    font-size: large;
    border-radius: 10px;
    letter-spacing: 1px;
}

.div_safhe_asli{
    display: none;
}
                                                                            /* takhfifan field*/
